.footerNav {
	display: flex;
	gap: var(--footer-nav-item-spacing);
	text-align: left;
	align-items: center;

	a {
		color: inherit;
		@media (hover: hover) {
			&:hover { text-decoration: underline; }
		}
	}
}
