.header-title {
	width: 50%;
}

/* TODO add hover effect (highlight only 2d/3d items) */
.header-nav {
	background: var(--header-bg);
  color: var(--header-text);

	display: flex;
	gap: var(--header-nav-item-spacing);
	width: 50%;
	text-align: left;

  a {
		color: inherit;
		&:hover { text-decoration: underline; }
	}
}