.headerTitle {
	width: var(--split-width);
	color: inherit;

	a {
		color: inherit;
		cursor: pointer;
		@media (hover: hover) {
			&:hover { text-decoration: underline; }
		}
	}
}

/* TODO add hover effect (highlight only 2d/3d items) */
.headerNav {
	display: flex;
	gap: var(--header-nav-item-spacing);
	width: var(--split-width);
	text-align: left;
	padding-left: var(--bar-padding);

	@media (max-width: 768px) {
		justify-content: flex-end;
		text-align: right;
		padding-left: 0;
	}

	a {
		color: inherit;
		cursor: pointer;
		@media (hover: hover) {
			&:hover { text-decoration: underline; }
		}
	}
}
